.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

CodeIgniter 3
.DS_Store
/.htaccess
/logs

/db_history
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/assets/img/profile/*
!assets/img/profile/default_profile.png
/uploads/aadhaar/*
/uploads/photo/*
/uploads/certificate1/*
/uploads/certificate2/*
/uploads/certificate3/*
/uploads/certificate4/*

.env